<p id="notice"><%= notice %></p>

<p id="slider">Start writing!</p>

<div class="header">
  <h1>Stuff to get done...
    <%= image_tag("Typewriter.jpg", id: "type") %>
  </h1>
</div>

<table>
  <thead>
    <tr>
      <th>Writing Tasks</th>
      <th colspan="3">Actions?</th>
    </tr>
  </thead>

  <tbody>
    <% @todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.description %></td>
        <td>
          <%= link_to 'Read', todo_item, method: :get%>
          <%= image_tag("glasses.png", align: 'right' ) %>
        </td>
        <td>
          <%= link_to 'Revise', edit_todo_item_path(todo_item), method: :get %>
          <%= image_tag("pencil.png", align: 'right') %>
        </td>
        <td>
          <%= link_to 'Scrap', todo_item, method: :delete, data: { confirm: 'Are you really really sure?' } %>
          <%= image_tag("trash.png", align: 'right') %><!--img src="/assets/trash.png" align="right"-->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2 class="shake"><%= link_to 'What do you want to add next?', new_todo_item_path %></h2>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
